.mobile_btn_section {
  display: flex;
  gap: 44px;
  align-items: center;
  padding: 20px 24px 0;
  border-bottom: 1px solid #979797;
  width: 100%;
  justify-content: center;
}

.img_container {
  position: relative;
}

.planet_img_geology {
  position: absolute;
  max-width: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-bottom: 36px;
  max-width: 1110px;
  margin: 0 auto;
  /* padding: 0 140px; */
  padding: 0 24px;
}
.img_content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 34px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: #fff;
  text-align: center;
  font-family: var(--antonio);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.content_text {
  color: #fff;
  width: 327px;
  text-align: center;
  font-family: var(--spartan);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 200% */
}

.source {
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  font-family: Spartan;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 208.333% */
  opacity: 0.5;
  margin-top: 16px;
}

.planet_img {
  object-fit: contain;
  max-width: 224px;
  max-height: 224px;
}

.source a {
  opacity: 0.5;
  color: #fff;
  font-family: var(--spartan);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-decoration-line: underline;
}

.tablet_btns {
  display: none;
}

@media (min-width: 768px) {
  .mobile_btn_section {
    display: none;
  }

  .content_container {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  .content {
    align-items: flex-start;
  }

  .content_text {
    text-align: start;
  }

  .tablet_btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .details {
    flex-direction: row;
  }

  .planet_img {
    max-width: 290px;
    max-height: 290px;
  }

  .planet_img_geology {
    max-width: 100px;
  }
}

@media (min-width: 1024px) {
  .img_content_container {
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    gap: 220px;
  }
  .content_container {
    flex-direction: column;
  }

  .planet_img {
    max-width: 450px;
    max-height: 450px;
  }

  .details {
    gap: 30px;
  }

  .planet_img_geology {
    max-width: 120px;
  }
}
