.info_btn {
  border: 1px solid #979797;
  width: 327px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  align-items: center;
}

.info_label {
  font-family: var(--spartan);
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 200% */
  letter-spacing: 0.727px;
  text-transform: uppercase;
  opacity: 0.5;
  color: white;
}

.info_value {
  color: white;
  text-align: right;
  font-family: var(--antonio);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  color: white;
}
